$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$font-family-base: Georgia, "Times New Roman", Times, serif !default;
// $font-family-base: 'Open Sans', sans-serif !default;
$font-size-base:          15px !default;

// Container sizes
// --------------------------------------------------

// Small screen / tablet
$container-tablet:             720px !default;

// Medium screen / desktop
$container-desktop:            940px !default;

// Large screen / wide desktop
$container-lg-desktop:         1000px !default;


@import 'sass-bootstrap/lib/bootstrap';
@import '/bower_components/animated-responsive-image-grid/css/style.css';
// @import 'bootstrap.css';

html, body {
    height: 100%;
}

body {
    // padding-top: 50px;
    padding-bottom: 20px;
    overflow-x: hidden;
    overflow-y : scroll;
}

section {
    margin-bottom: 100px;
    position: relative;
}

.navbar {
    margin: 0;
    box-shadow: 0px 2px 4px -3px black;
    opacity: .9;
    font-family: 'Amatic SC';
    font-size: 26px;
    font-weight: 700;
    -webkit-transition:-webkit-filter 0.5s ease-in-out;
}
.blur {
    -webkit-filter: blur(10px);
}

.ri-grid {
    margin: 0;
    z-index: 100;
    width: 200%;
    position: absolute;
}
#ri-grid {
    top: 0;
}
#ri-grid1 {
    top: 112px;
}
#ri-grid2 {
    top: 224px;
}

.jumbotron {
    padding: 0;
    background-color: white;
    // height: 112px;
}

#map {
    position: fixed;
    top: 0;
    width:100%;
    height:350px;
    z-index: 50;
}

#intro {
    height: 100%;
    background-image: url('http://192.168.2.27:9000/images/full-04.jpg');
    background-size: cover;
    margin: 0;
    box-shadow: inset 0px -9px 10px -10px #000;
}

#intro img {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
}

#intro h1 {
    color: white;
    position: relative;
    z-index: 1000;
    margin: 0;
    padding-top: 10%;
    font-family: 'Amatic SC';
    font-size: 140px;
    text-shadow: 0px 0px 2px #000;
}

#begins {
    z-index: 1000;
    background-color: #FFF;
    border-radius: 3px;
    // box-shadow: 0 0 10px -2px #000;
    margin-top: 20px;
}

.shadow {
    box-shadow: 0px 0px 10px 2px #000;
}

.lead {
    font-family: 'Open Sans', sans-serif;
}